<section data-ng-controller="HomeController as home">
    <div ng-show="noEstaLogueado" class="container text-center">
        <span>
            No estas logueado, para hacerlo presiona el link "Login".
        </span>
        <div  class="links">
            <a href="/#!/signin" class="link">
                <i class="fa fa-sign-in fa-2x"></i>
                <h3>Login</h3>
            </a>
        </div>
        <span>
            Si aun no te registrastes, puedes hacerlo presionando el link "Registrarme"
        </span>
        <div  class="links">
            <a href="/#!/signup">
                <i class="fa fa-external-link fa-2x"></i>
                <h3>Registrarme</h3>
            </a>
        </div>

    </div>
    <div ng-hide="noEstaLogueado">
        <widgets-inicio></widgets-inicio>
    </div>
    <style>
        .links{
            margin-top: 4%;
        }
    </style>
</section>