.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
body{
    background-image: url(../img/back.png);
}
.menuHeader{
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #f3f3f3),
            color-stop(1, #e2e2e2)
    );

}