<section data-ng-controller="LlegadasController" class="container">
    <div class="page-header">
        <h1>Llegadas</h1>
        <h3><span class="label label-info">Fecha actual: {{fecha | date:'short'}}</span></h3>
    </div>
    <div class="list-group">
        <a data-ng-repeat="llegada in llegadas" data-ng-href="#!/controls/{{llegada._id}}" class="list-group-item">
            <h4 class="list-group-item-heading" data-ng-bind="llegada.empleado.apellido"></h4>
            <h4 class="list-group-item-heading" data-ng-bind="llegada.empleado.nombre"></h4>
            <h4 class="list-group-item-heading" data-ng-bind="llegada.horario | date:'short'"></h4>
        </a>
    </div>
</section>