<section data-ng-controller="DispositivosController" data-ng-init="cargarUno()">
    <div class="page-header" data-ng-init="buscarDispositivos()">
        <h1>Edit Dispositivo</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="nombre">Nombre</label>
                    <div class="controls">
                        <input type="text" data-ng-model="dispositivo.nombre" id="nombre" class="form-control" placeholder="Nombre" required>
                    </div>
                    <label class="control-label" for="descripcion">Descripcion</label>
                    <div class="controls">
                        <input type="text" data-ng-model="dispositivo.descripcion" id="descripcion" class="form-control" placeholder="Descripcion" required>
                    </div>
                    <label class="control-label" for="controlador">Controlador <i class="fa fa-refresh fa-lg fa-spin"></i></label>
                    <select data-ng-model="controlador" id="controlador" class="form-control" placeholder="Controlador" required>
                        <option value="Seleccione Un Controlador">Seleccione Un Controlador</option>
                    </select>
                    <span> Controlador Actual: <h4>{{dispositivo.controlador}}</h4></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>