<section data-ng-controller="DispositivosController" data-ng-init="find()">
    <div class="page-header">
        <h1>Dispositivos</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="dispositivo in dispositivos" ng-click="cargar('{{urlView}}', '{{dispositivo._id}}')" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="dispositivo.created | date:'medium'"></span>
				by
				<span data-ng-bind="dispositivo.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="dispositivo.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!dispositivos.$resolved || dispositivos.length">
    	No Dispositivos yet, why don't you <a href="/#!/dispositivos/create">create one</a>?
    </div>
</section>