<section data-ng-controller="SeccionsController" data-ng-init="find()">
    <div class="page-header text-center">
        <h1>Lista de secciones</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="seccion in seccions" ng-click="cargar('{{urlView}}','{{seccion._id}}')" class="list-group-item">
			<h4 class="list-group-item-heading" data-ng-bind="seccion.nombre"></h4>
			<h5 class="list-group-item-heading" data-ng-bind="seccion.descripcion"></h5>
            <small class="list-group-item-text">
                Fecha de creacion:
                <span data-ng-bind="seccion.created | date:'medium'"></span>
                por
                <span data-ng-bind="seccion.user.displayName"></span>
            </small>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!seccions.$resolved || seccions.length">
    	No hay ninguna Seccion creada, para crear una <a ng-click="cambiarPagina('{{urlCreate}}')">Presiona Aqui</a>.
    </div>
</section>