<section data-ng-controller="InformacionController as infCtrl">
    <div class="descripcion">
        <span class="textoGrande">
            Para el correcto funcionamiento de la aplicación sera necesario realizar los siguientes pasos:
        </span>
    </div>
    <div class="row">
        <div class="col-md-8 text-center">
            <h3>Agregar una sección</h3>
            <div class="explicacion">
                <span>
                    Una sección se utiliza para agrupar Widgets. De forma tal que en el Dashboard de la
                pagina de inicio se pueda realizar una separacion "fisica" de los mismos. Si deseamos tener
                separados los widgets que se encuentran en un ambiente diferente del recinto esto se
                puede llevar a cabo creando una seccion para cada ambiente donde cada seccion tendra los widget
                que se encuentren en dicho ambiente.
                </span>
            </div>
            <div class="link">
                <a href ng-click="cambiarPagina('modules/seccions/views/create-seccion.client.view.html')">
                    <i class='fa fa-sitemap fa-2x'></i>
                    <span>Agregar Sección</span>
                </a>
            </div>
        </div>
        <div class="col-md-8 text-center">
            <h3>Agregar un dispositivo</h3>
            <div class="explicacion">
                <span>
                    Inserte aqui la descripcion del dispositivo jjajaj
                </span>
            </div>
            <div class="link">
                <a href ng-click="cambiarPagina('modules/dispositivos/views/create-dispositivo.client.view.html')">
                    <i class='fa fa-upload fa-2x'></i>
                    <span>Agregar Dispositivo</span>
                </a>
            </div>
        </div>
        <div class="col-md-8 text-center">
            <h3>Agregar un Widget</h3>
            <div class="explicacion">
                <span>
                    Un widget se utiliza para representar la información obtenida de los distintos dispositivos
                con los que cuenta el sistema. Cada widget posee su configuración la cual permite que se pueda
                obtener la información del dispositivo y asi poderrepresentarla dependiendo del tipo que se halla
                elegido de widget.
                </span>
            </div>
            <div class="link">
                <a href ng-click="cambiarPagina('modules/widgets/views/create-widget.client.view.html')">
                    <i class='fa fa-tasks fa-2x'></i>
                    <span>Agregar Widget</span>
                </a>
            </div>
        </div>
    </div>
    <style>
        .descripcion{
            margin-top: 3%;
        }
        .textoGrande{
            font-size: 18px;
            color: #4682b4;
        }
    </style>
</section>