<section data-ng-controller="CrearTareaController as crear">
    <div class="page-header text-center">
        <h1>Nueva Tarea</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <div class="controls">
                        <label class="control-label" for="nombre">Nombre</label>
                        <input type="text" data-ng-model="nombre" id="nombre" class="form-control" placeholder="Nombre" required>
                        <label class="control-label" for="tipo">Tipo de tarea</label>
                        <select ng-model="tipo" ng-options="tipo for tipo in tipos" id="tipo" required
                                class="form-control"  title="Tipo" ng-change="cargarAcciones()">
                            <option value="Seleccione">Seleccion un tipo de tarea</option>
                        </select>
                        <label class="control-label" for="dispositivo">Dispositivo</label>
                        <select data-ng-model="dispositivo" ng-options="dispositivo.controlador for dispositivos in dispositivos" id="dispositivo" required
                                class="form-control" ng-init="dispositivo = dispositivos[0]">
                        </select>
                        <label class="control-label" for="topico">Sensor<span id="sens"></span></label>
                        <select data-ng-model="topico" id="topico" required class="form-control" title="Sensor">
                            <option value="Seleccione Un Sensor">Seleccione Un Sensor</option>
                        </select>
                        <label class="control-label" for="accion">Accion a Realizar</label>
                        <select ng-model="accion" ng-options="accion for accion in acciones" id="accion" required
                                class="form-control"  title="Tipo">
                            <option value="Seleccione">Seleccione una accion</option>
                        </select>
                        <label class="control-label" for="fecha">Fecha</label>
                        <div datepicker="asf" ng-model="fecha" id="fecha" class="calendario" min-date="mindate"></div>
                        <label class="control-label" for="hora">Hora</label>
                        <input type="number" max="24" min="0" data-ng-model="hora" id="hora">
                        <label class="control-label" for="minutos">Minutos</label>
                        <input type="number" max="60" min="0" data-ng-model="minutos" id="minutos">
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
    <style>
        .calendario{
            margin: 2% 2% 2% 2%;
            border: 2px solid black;
            width: 306px;
        }
    </style>
</section>