<section data-ng-controller="TareasController" data-ng-init="find()">
    <div class="page-header text-center">
        <h1>Tareas</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="tarea in tareas" ng-click="cargar('{{urlView}}','{{tarea._id}}')" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="tarea.created | date:'medium'"></span>
				by
				<span data-ng-bind="tarea.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="tarea.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!tareas.$resolved || tareas.length">
        No hay ninguna Seccion creada, para crear una <a ng-click="cambiarPagina('{{urlCreate}}')">Presiona Aqui</a>.
    </div>
</section>