<section data-ng-controller="TareasController" data-ng-init="find()">
    <div class="page-header text-center">
        <h1>Tareas Automaticas</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="tarea in tareas" ng-click="cargar('{{urlView}}','{{tarea._id}}')" class="list-group-item">
            Nombre: <h4 class="list-group-item-heading" data-ng-bind="tarea.nombre"></h4>
            Fecha: <i class="fa fa-clock-o fa-lg white"></i><h4 class="list-group-item-heading" data-ng-bind="tarea.datos.calendario| date:'medium'"></h4>
            Tipo: <h4 class="list-group-item-heading" data-ng-bind="tarea.datos.tipo"></h4>
            Accion: <h4 class="list-group-item-heading" data-ng-bind="tarea.datos.informacion"></h4>
			<small class="list-group-item-text">
				Creado:
				<span data-ng-bind="tarea.created | date:'medium'"></span>
				por
				<span data-ng-bind="tarea.user.displayName"></span>
			</small>

        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!tareas.$resolved || tareas.length">
        No hay ninguna Tarea Automatica creada, para crear una <a ng-click="cambiarPagina('{{urlCreate}}')">Presiona Aqui</a>.
    </div>
</section>