.menu{
    background-image: linear-gradient(to right,#3a3633 93%,#2a2725 100%);
    width: 15%;
    min-width: 210px;
    height: 100%;
}
.menu-item-parent{
    padding-left: 20%;
}
.menu-child{
    padding-left: 20%;
}
.enBlanco{
    color: #ffffff;
}
.enGris{
    color: #a8a8a8;
}
.colapsado{
    display: none;
}
.expandido{
    display: block;
}
.collapse-sign{
    position: absolute;
    right: 10px;
    top: 42%;
}
.ngView{
    border-top: 2px solid #000000;
}