.menu{
    background-color: #525151;
    width: 15%;
    height: 100%;
    float: left;
}
.menu-item-parent{
    padding-left: 20%;
}
.menu-child{
    padding-left: 20%;
}
.enBlanco{
    color: #ffffff;
}
.colapsado{
    display: none;
}
.expandido{
    display: block;
}
.collapse-sign{
    position: absolute;
    right: 10px;
    top: 42%;
}