.menu{
    margin-top: 1%;
    background-color: #525151;
    width: 15%;
    min-width: 230px;
    height: 100%;
}
.menu-item-parent{
    padding-left: 20%;
}
.menu-child{
    padding-left: 20%;
}
.enBlanco{
    color: #ffffff;
}
.colapsado{
    display: none;
}
.expandido{
    display: block;
}
.collapse-sign{
    position: absolute;
    right: 10px;
    top: 42%;
}
.ngView{
    border-top: 2px solid #000000;
}