<section class="container">
    <div class="text-center">
        <div id="titulo">
            <label class="info"><h1>Ups!</h1></label>
        </div>
        <div id="mensajes">
            <h4>
                Al parecer no has configurado el sistema aun, puedes realizarlo presionando
                el siguiente link.
            </h4>
        </div>
        <div id="links">
            <a href="/#!/configuracion">
                <i class="fa fa-hand-o-down fa-3x"></i>
                <h3>Configurar</h3>
            </a>
        </div>
    </div>
</section>