<section data-ng-controller="CrearWidgetController as wid">
    <div class="page-header text-center">
        <h1>Crear Widget</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">

                    <div class="controls">
                        <label class="control-label" for="title">Titulo</label>
                        <input type="text" data-ng-model="title" id="title" class="form-control" placeholder="Titulo" required>
                        <label class="control-label" for="seccion">Seccion</label>
                        <select data-ng-model="seccion" ng-options="seccion.nombre for seccion in secciones" id="seccion" required
                                class="form-control"  title="Seccion">
                        </select>
                        <label class="control-label" for="dispositivo">Dispositivo</label>
                        <select data-ng-model="dispositivo" ng-options="dispositivo.controlador for dispositivo in dispositivos" id="dispositivo" required
                                class="form-control" ng-init="dispositivo = dispositivos[0]">
                        </select>
                        <label class="tipoWidget">Tipo De Widget</label>
                        <div class="row separadoArriba text-center">
                            <div class="col-md-4">
                                <div class="separadoArriba">
                                    <label class="alert bordado" id="temperatura" ng-click="temperaturaSelect()">Temperatura</label>
                                    <img ng-src="modules/widgets/img/temperatura.png"/>
                                </div>
                                <div  class="separadoArriba">
                                    <label class="alert bordado" id="iluminacion" ng-click="iluminacionSelect()">Iluminación</label>
                                    <img ng-src="modules/widgets/img/iluminacion.png"/>
                                </div>
                                <div class="separadoArriba">
                                    <label class="alert bordado" id="apertura" ng-click="aperturaSelect()">Apertura</label>
                                    <img ng-src="modules/widgets/img/apertura.png"/>
                                </div>
                            </div>
                        </div>
                        <label class="control-label" for="topico">Sensor<span id="sens"></span></label>
                        <select data-ng-model="topico" id="topico" required class="form-control" title="Sensor">
                            <option value="Seleccione Un Sensor">Seleccione Un Sensor</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
    <style>
        .tipoWidget{
            margin-top: 3%;
            font-size: 20px;
            border-bottom: 1px solid #330033;
        }
        .separadoArriba{
            margin-top: 3%;
        }
        .bordado{
            border: 1px solid #330033;
        }
    </style>
</section>