<section data-ng-controller="WidgetsController" data-ng-init="find()">
    <div class="page-header text-center">
        <h1>Lista de Widgets</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="widget in widgets" ng-click="cargar('{{urlView}}','{{widget._id}}')" class="list-group-item">
            <h4 class="list-group-item-heading" data-ng-bind="widget.title"></h4>
            <h5 class="list-group-item-heading" data-ng-bind="widget.name"></h5>
            <small class="list-group-item-text">
				Fecha de creacion
				<span data-ng-bind="widget.created | date:'medium'"></span>
				por
				<span data-ng-bind="widget.user.displayName"></span>
			</small>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!widgets.$resolved || widgets.length">
        No hay ningun Widget creado, para crear uno <a ng-click="cambiarPagina('{{urlCreate}}')">Presiona Aqui</a>.
    </div>
</section>