<section data-ng-controller="WidgetsInicioController as wgtCrtrl" class="container">
    <div class="row">
        <div>
            <ul class="nav nav-tabs" role="tablist">
                <li ng-repeat="sec in secciones" ng-class="{ active:wgtCrtrl.isSelected('{{sec.nombre}}')}">
                    <a href data-ng-click="cambiarSeccion('{{sec.nombre}}')" id="a_ '{{sec.nombre}}'">{{sec.nombre}}</a>
                </li>
            </ul>
        </div>
        <div class="col-md-12">
            <div dashboard="dashboardOptions" template-url="modules/widgets/views/template-widgets.html"></div>
        </div>
    </div>
</section>