<section data-ng-controller="EditarClimatizacionController" data-ng-init="cargarUno()">
    <div class="page-header">
        <h1>Editar Configuración de Climatizacion</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <div class="controls">
                        <label class="control-label" for="nombre">Name</label>
                        <input type="text" data-ng-model="climatizacion.nombre" id="nombre" class="form-control" placeholder="Nombre" required>
                        <label class="control-label" for="temperatura">Temperatura</label>
                        <input type="number" data-ng-model="climatizacion.temperatura" id="temperatura" class="form-control" placeholder="Temperatura" required>
                        <label class="control-label" for="forma">Forma</label>
                        <select data-ng-model="climatizacion.forma" id="forma" required class="form-control" title="Forma">
                            <option value=">">Mayor A</option>
                            <option value="<">Menor A</option>
                        </select>
                        <label class="control-label" for="dispositivo">Dispositivo</label>
                        <select data-ng-model="dispositivo" ng-options="dispositivo.nombre for dispositivo in dispositivos" id="dispositivo" required
                                class="form-control">
                        </select>
                        <span> Dispositivo Actual: <h4>{{climatizacion.dispositivo.nombre}}</h4></span>
                        <label class="control-label" for="topico">Sensor<span id="sens"></span></label>
                        <select data-ng-model="topico" id="topico" required class="form-control" title="Sensor">
                            <option value="Seleccione Un Sensor">Seleccione Un Sensor</option>
                        </select>
                        <span> Sensor Actual: <h4>{{climatizacion.topico.split('/')[1]}}</h4></span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>