<section data-ng-controller="ClimatizacionsController" data-ng-init="cargarUno()">
    <div class="page-header">
        <h1>Edit Climatizacion</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <div class="controls">
                        <label class="control-label" for="nombre">Nombre</label>
                        <input type="text" data-ng-model="climatizacion.nombre" id="nombre" class="form-control" placeholder="Nombre" required>
                        <label class="control-label" for="temperatura">Temperatura</label>
                        <input type="number" data-ng-model="climatizacion.temperatura" id="temperatura" class="form-control" placeholder="Temperatura" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>